$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$dominant_color : #F39A31

/* estilos modulo facturacion y pedidos */
.botonEditar 
	background-color: $dominant_color 
	border-radius: 10px 

.colorEnfasis 
	color: $dominant_color 

.borderTitle 
	border-radius: 30px 
    
.bgColorEnfasis 
	background-color: $dominant_color 

/* estilos modulo facturacion y pedidos */


/* Color dominante: color principal de la composición. Cabe señalar que esta condición no está relacionada con el hecho de que ocupe la superficie máxima del color en la composición. El color dominante hace el papel protagonista, es el color que define los valores comunicativos de la combinación cromática. Color subordinado: color visualmente más débil que funciona por contraste o que complementa una combinación cromática con un color dominante. Normalmente ocupa la máxima superficie del diseño. Color acento o color destacado: el color acento puede ser dos cosas: simpático con el color subordinado o dominante, o visualmente fuerte y llamativo. Puede parecer que compite con el color dominante porque puede proporcionar tensión dentro de la combinación cromática. También es un color que aporta un detalle visual directo. */